<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees List</title>
    <link rel="stylesheet" href="./general.css" type="text/css">
</head>
<body>
    <h1>All Employees</h1>

    <div th:each = "employee: ${employees}">
        <span><a style="color: blue" th:href="@{/updateEmployee/{empId}(empId=${employee.employee_id})}">[[${employee.employee_id}]]</a></span>
        <span th:text = "${employee.name}"></span>
        <span th:text = " ${employee.lastname}"></span><br/>
        <hr/>
    </div>
    <div class="container">
        <div class="column">
            <a href="/register" style="margin-right:2em">Employee Registration</a>
        </div>
        <div class="column">
            <form th:if="${#lists.size(employees)>=1}" action="/employees/employeePosition" method="post">
                <button type="submit" style="color: blue" >Search Employee By Work Position</button>
                <input type="text" name="employeePosition" /> <!-- name="employeePosition"  THIS HEAD BREAKER THING GOT FREAKING BUSY FOR A LONG TIME... BUT IS DONE -->
            </form>
        </div>
        <div class="column">
            <form th:if="${#lists.size(employees)>=1}" action="/employees" method="post">
                <button type="submit" style="color: blue" >Clear List</button>
            </form>
        </div>
    </div>
</body>
</html>