<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Employees List</title>
</head>
<body>
    <h1>All Employees</h1>

<div th:each = "employee: ${employees}">
    <span><a style="color: blue" th:href="@{/updateEmployee/{empId}(empId=${employee.employee_id})}">[[${employee.employee_id}]]</a></span>
    <span th:text = "${employee.name}"></span>
    <span th:text = " ${employee.lastname}"></span><br/>
   <!-- <span th:text = "${employee.birthDay}"></span><br/>
    <span th:text = "${employee.startingPosition}"></span><br/>
    <span th:text = "${employee.currentPosition}"></span>-->
    <hr/>
</div>
    <a href="/register" style="margin-right:2em">Employee Registration</a>
    <form th:if="${#lists.size(employees)>=1}" action="/employees" method="post">
        <button type="submit" style="color: blue" >Clear List</button>
    </form>
</body>
</html>