<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Registration</title>
    <link rel="stylesheet" href="./general.css" type="text/css">
</head>
<body>
    <h1>Employee registration</h1>
    <form action="/register" method="post">
      <div>
        Name: <input type="text" th:field="${employee.name}">
      </div>
        <div>
            Lastname: <input type="text" th:field="${employee.lastname}">
        </div>
        <div>
            Birthday: <input type="text" th:field="${employee.birthDay}">
        </div>
        <div>
            Starting position: <input type="text" th:field="${employee.startingPosition}">
        </div>
        <div>
            Current position: <input type="text" th:field="${employee.currentPosition}">
        </div>
        <div>
            <button type="submit" style="color:blue" >Save Employee</button>
            <span>
                <!-- <button type="button" style="color: green" class="btn btn-primary" th:onclick="'javascript:history.back()'">Back to Main List</button> -->
                <a href="/employees">Go to Employees General List</a>
            </span>
        </div>

    </form>
</body>
</html>