<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Employee</title>
</head>
<body>
<h1>Employee ID:  [[${employee.employee_id}]]</h1>
<div class="container">
    <form action="" method="post">
      <div>
        Name: <input type="text" th:field="${employee.name}">
      </div>
      <div>
        Lastname: <input type="text" th:field="${employee.lastname}">
      </div>
      <div>
        Birthday: <input type="text" th:field="${employee.birthDay}">
      </div>
      <div>
        Starting position: <input type="text" th:field="${employee.startingPosition}">
      </div>
      <div>
        Current position: <input type="text" th:field="${employee.currentPosition}">
      </div>
      <div>
          <button type="submit" style="color: blue" >Update Employee Info</button>
      </div>
    </form>

    <form th:action="@{/updateEmployee/{employee_id}/delete(employee_id=${employee.employee_id})}" method="post">
        <button type="submit" style="color: blue" >Delete Employee Account</button>
    </form>
</div>


<div>

</div>
  <div>
    <span>
    <!--<button type="button" class="btn btn-primary" th:href="@{/register}">Return to Home</button>-->
    <a href="/register" style="margin-right:2em">Go to Register</a>
    </span>
    <span>
     <!-- <button type="button" style="color: green" class="btn btn-primary" th:onclick="'javascript:history.back()'">Back to Main List</button> -->
      <a href="/employees">Go to Employees General List</a>
    </span>
  </div>

</body>
</html>